name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
        - name: Classic Stats
          uses: lowlighter/metrics@latest
          with:
            filename: metrics.classic.svg
            token: ${{ secrets.METRICS_TOKEN }}
            base: header, repositories
            plugin_lines: yes
            
        - name: Most Used
          uses: lowlighter/metrics@latest
          with:
              filename: metrics.plugin.languages.svg
              token: ${{ secrets.METRICS_TOKEN }}
              base: ""
              plugin_languages: yes
              plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot
              plugin_languages_limit: 4
